# Java
*.class
*.jar
*.war
*.ear
*.logs
*.iml
.idea/
target/

# Node
node_modules/
.next/
.cache/
dist/
build/
coverage/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db 